.selectContainer {
    margin: 0 auto;
    width: 100px;
    padding-top: 10px;
}

select {
    font-size: large;
    margin: 0 auto;
    width: 100px;
    padding-top: 15px;

}

.select {
    height: 200px;
    width: 200px;
    margin: auto;

}
